@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    background-color: purple;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 10px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.navigation_left{
    display: flex;
    align-items: center;
}

.header img{
    width: 80px;
    height: 80px;
}
.header a{
    color: white;
    text-decoration: none;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
}
.navigation_index{
    display: flex;
    gap: 20px;
    padding-right: 40px ;
}
.description{
    
    gap: 5px;
    display: flex;
}
.history{
    gap: 5px;
    display: flex;
}
.video{
    gap: 5px;
    display: flex;
}
.linea{
    display: flex;
    flex-direction: column;
}
.navigation_outpage{
    display: flex;
    align-items: center;
    gap: 20px;

}
.ranking{
    
    gap: 5px;
    display: flex;
    align-items: center;
}
.stats{
    gap: 5px;
    display: flex;
}
.description_s{
    margin-top: 100px;
}
ul{
    list-style: circle;
}