* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    /* position: fixed; */
    width: 100%;
}
.skins{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.skins article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.imagen_skin img{display: flex;
    justify-content: center;
    width: 175px;
    height: 175px;
}
.tabla_datos td {
border: 5px solid black;
display: flexbox;
justify-content: center;
}
.posicion{
    display: flex
    justify-content: center ;
}
.respuesta{
    width: 400px !important;
}