/* importo los iconos de bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
/* establezco los nuevos detalles de la pagina */

* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
/* al header le ubico varios elementos para una mejor estructura del titulo ademas de un border y un position fixed para que quede fijo */
header {
    background-color: purple;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    top: 0%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* se usan los margenes para organizar mejor el contenido */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* con esta seccion mantengo un margen general en todos los lados de la table */
section{
    margin:100px
}
/* aqui amplio la tabla y el texto para una mejor visibilidad */
table {
    width: 1500px;
    border-collapse: collapse;
    font-size: 20px;
  }
/* con los tres atributos siguientes  establezco los colores de la tabla y sus bordes */
  td, th {
    border: 3px solid purple;
    text-align: left;
    padding: 8px;
  }
td:first-child,
th:first-child {
  background-color: rgba(128, 0, 128, 0.3);
}
thead{
    background-color: rgba(128, 0, 128, 0.3);
  }
  /* con este apartado establezco el boton que me lleva a la pagina del index */
.boton_pagina_principal{
    padding-bottom: 50px;
}
.boton_pagina_principal button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: purple;
    color: white;
    font-size: 15px;
    font-weight:bold;
}
/* aqui aplico las misma caracteristicas del footer del ranking de skins manteniendo la cohesion */
.footer{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: fixed;
    bottom: 0%;
    right: 0%;
    color: white;
    background-color: purple;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}