@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    background-color: purple;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding-left: 10px;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.header a {
    color: white;
    text-decoration: none;
}

.logo_texto {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo_texto img {
    width: 80px;
    height: 80px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 30px;
}

.navigation_index {
    display: flex;
    gap: 20px;
    padding-right: 40px;
}

.navigation_outpage {
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon_text {
    display: flex;
    gap: 8px;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
}

.content {

    background-color: white;
    width: 80%;
    padding:10px;
    margin:48px;
    border: 5px solid purple;
    border-radius:12px

}

.description_s {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.texto_imagen {
    display: flex;
}

.history_s {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.historial {
    padding: 15px;
    max-width: 900px;
    max-height: 700px;
    overflow: scroll;
    border: 5px solid black;
}

.historial ul {
    margin-left: 10px;
}

.historial li {
    margin-left: 10px;
}
.titulo_video{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 500px;
}
@media only screen and (max-width: 780px) {
    .titulo_video iframe {
    
    min-height: 300px;
    min-width: 400px;
    }
}
@media only screen and (min-width: 780px) {
    .titulo_video iframe {
    
    min-height: 400px;
    min-width: 600px;
    }
}


.video_s {
    margin-top: 0px;
    display: flex;
    justify-content: center;
}
.video {
    display: flex;
    justify-content: center;
}
